//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.header {
    width: 80vw;
    margin: 0 auto;
    padding: 40px 0 10px;
    font-family: $noto;

    @media screen and (min-width: 768px) {
        width: min(70vh, 600px);
        padding: 3% 0 10px;
    }

    &__ttl {
        text-align: center;
        margin-bottom: 20px;

        @include tab {
            font-size: 4rem;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;

        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }
}