//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

//スタート画面を消すクラス
.hide {
    opacity: 0;
    visibility: hidden;
}

//正解のカードを選んだ時のクラス
.hit {
    background: #F2D8D8;
    color: #545b77;
}